@import "tailwindcss";

body {
  padding: 30px 40px;
  height: 100vh;
}

@theme inline {
  /* ブランド */
  --color-light-blue: #4cb3f8;

  /* テキスト */
  --color-black-80: #333333;
  --color-black-50: #4d4d4d;

  /* ボタン */
  --color-black-30: #b3b3b3;

  /* 背景 */
  --color-bg-light: #f5f8fa;
  --color-bg-dark: #c8e6fa;

  /* フォント */
  --font-sans: var(--font-noto-sans-jp);
}

.text-title {
  font-family: NotoSansJP-Bold;
  font-size: 24px;
  color: #333333;
  letter-spacing: 0;
  line-height: 40px;
  font-weight: 700;
}

.text-body {
  font-family: NotoSansJP-Regular;
  font-size: 16px;
  color: #333333;
  letter-spacing: 0;
  line-height: 40px;
  font-weight: 400;
}

.text-caption {
  font-family: NotoSansJP-Regular;
  font-size: 12px;
  color: #333333;
  letter-spacing: 0;
  line-height: 40px;
  font-weight: 400;
}

.text-minimum {
  font-family: NotoSansJP-Regular;
  font-size: 10px;
  color: #333333;
  letter-spacing: 0;
  line-height: 40px;
  font-weight: 400;
}
